* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Baloo Tammudu 2", cursive;
  background-color: white;
}
.box {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(35, 199, 182, 1) 9%,
    rgba(38, 214, 150, 1) 30%,
    rgba(40, 226, 126, 1) 46%,
    rgba(42, 190, 92, 1) 59%,
    rgba(45, 253, 69, 0.6977077363896849) 84%
  );
}
